<div id="app">
    <div class="container">

  <!-- PROFILE INFO -->
      <div class="sidebar">
        <div class="sidebar-top">
          <img v-bind:src="students[<%= @id %>].photo">
          <div class="profile-basic">
            <h1 class="name">{{students[<%= @id %>].first_name}} {{students[<%= @id %>].last_name}}</h1>
          </div>
        </div>
        <div class="profile-info">
          <p> {{students[<%= @id %>].bio}}   
          </p>
        </div>
        <div class="profile-info">
          <p class="key">Contact : </p>
          <p class="value">{{students[<%= @id %>].phone_number}}</p>
        </div>

        <div class="profile-info">
          <p class="key" >Email : </p>
          <p class="value" >{{students[<%= @id %>].email}}</p>
        </div>


        <div class="profile-info">
          <a class="social-media" v-bind:href="students[<%= @id %>].linkedin_url" target="_blank" >LinkedIn</a>
          <a class="social-media" v-bind:href="students[<%= @id %>].twitter_handle" target="_blank" >Twitter</a>
         <!--  <a class="social-media" v-bind:href="students[0].blogUrl" target="_blank" >Personal Blog</a> -->
          <a class="social-media" v-bind:href="students[<%= @id %>].resume_url" target="_blank" >Resume</a>
          <a class="social-media" v-bind:href="students[<%= @id %>].github_url" target="_blank" >Github</a>
        </div>
      </div>
  <!-- END PROFILE INFO -->


  <!-- WORK EXPERIENCE -->

    <div class="content">
      <div class="work-experience">
        <h1 class="heading"> Work Experience</h1>
        <!-- <div class="info" v-for="experience in experiences" v-if="isValidExperience(experience)"> -->
          <p class="sub-heading">{{ experiences[<%= @id %>].job_title }} @ {{ experiences[<%= @id %>].company_name }}</p>
          <p class="duration">{{ experiences[<%= @id %>].start_date }} - {{ experiences[<%= @id %>].end_date }}</p>
          <p> {{ experiences[<%= @id %>].details }} </p>
      </div>

  <!-- END WORK EXPERIENCE -->

  <!-- EDUCATION INFO -->
      
      <div class="education">
        <h1 class="heading">Education</h1>
          <p class="sub-heading"> {{ educations[<%= @id %>].degree }} @ {{ educations[<%= @id %>].university_name }}</p>
          <p class="duration">{{ educations[<%= @id %>].start_date }} - {{ educations[<%= @id %>].end_date }}</p>
          <p>{{ educations[<%= @id %>].details }}</p>
      </div>

  <!-- END EDUCATION INFO -->


  <!-- SKILLS INFO -->
        <div class="skills">
          <h1 class="heading">Skills</h1>
          <div class="info">
            <ul>
              <li>{{skills[<%= @id %>].skill_name}}</li>
            </ul>
          </div>
        </div>
  <!-- END SKILLS INFO -->

  <!-- CAPSTONE INFO -->
        <div class="capstone">
          <h1 class="heading">Capstone</h1>
            <p class="sub-heading">{{capstones[<%= @id %>].capstone_name}}</p>
            <p class="sub-heading">Desription:</p>
            <p>{{capstones[<%= @id %>].description}}</p>
            <p class="sub-heading">URL:</p>
            <p>{{capstones[<%= @id %>].capstone_url}}</p>
            <img v-bind:src="capstones[<%= @id %>].screenshot">
        </div>
  <!-- END CAPSTONE INFO -->

     <!--  <a class="twitter-timeline" v-bind:href="cors.io/?=https://twitter.com/josepoggioli">Tweets by {{students[<%= @id %>].first_name}} {{students[<%= @id %>].last_name}}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->



    </div>

  </div>
</div>