
<div id="app">
  <div class="container">

  <!-- PROFILE INFO -->
      <div class="sidebar">
        <div class="sidebar-top">
          
          <img v-bind:src="students[<%= @id %>].photo">
        
          <div class="profile-basic">
            <h1 class="name">{{students[<%= @id %>].first_name}} {{students[<%= @id %>].last_name}}</h1>
          </div>
        </div>
        <div class="profile-info">
          <p> {{students[<%= @id %>].bio}}   
          </p>
        </div>
        <div class="profile-info">
          <p class="key">Contact : </p>
          <p class="value">{{students[<%= @id %>].phone_number}}</p>
        </div>

        <div class="profile-info">
          <p class="key" >Email : </p>
          <p class="value" >{{students[<%= @id %>].email}}</p>
        </div>


        <div class="profile-info">
          <a class="social-media" v-bind:href="'https://www' + students[<%= @id %>].linkedin_url">LinkedIn</a>
          <a class="social-media" v-bind:href="'https://www' + students[<%= @id %>].twitter_handle">Twitter</a>
          <a class="social-media" v-bind:href="'https://www' + students[<%= @id %>].personal_website">Personal Website</a>
          <a class="social-media" v-bind:href="'https://www' + students[<%= @id %>].resume_url">Resume</a>
          <a class="social-media" v-bind:href="'https://www' + students[<%= @id %>].github_url">Github</a>
        </div>
      </div>
  <!-- END PROFILE INFO -->


  <!-- WORK EXPERIENCE -->

    <div class="content">
      <div class="work-experience">
        <h1 class="heading"> Work Experience</h1>
          <div v-for="experience in students[<%= @id %>].experiences">
            <p class="sub-heading">{{ experience.job_title }} @ {{ experience.company_name }}</p>
            <p class="duration">{{ experience.start_date }} - {{ experience.end_date }}</p>
            <p> {{ experience.details }} </p>
          </div>
      </div>

  <!-- END WORK EXPERIENCE -->

  <!-- EDUCATION INFO -->
      
      <div class="education">
        <h1 class="heading">Education</h1>
          <div v-for="education in students[<%= @id %>].education">
            <p class="sub-heading"> {{ education.degree }} @ {{ education.university_name }}</p>
            <p class="duration">{{ education.start_date }} - {{ education.end_date }}</p>
            <p>{{ education.details }}</p>
          </div>
      </div>

  <!-- END EDUCATION INFO -->


  <!-- SKILLS INFO -->
        <div class="skills">
          <h1 class="heading">Skills</h1>
          <div class="info">
            <ul>
              <div v-for="skill in students[<%= @id %>].skills">
                <li>{{skill.skill_name}}</li>
              </div>
            </ul>
          </div>
        </div>
  <!-- END SKILLS INFO -->

  <!-- CAPSTONE INFO -->
        <div class="capstone">
          <h1 class="heading">Capstone</h1>
            <div v-for="capstone in students[<%= @id %>].capstones">
              <p class="sub-heading">{{capstone.capstone_name}}</p>
              <p class="sub-heading">Desription:</p>
              <p>{{capstone.description}}</p>
              <p class="sub-heading">URL:</p>
              <p>{{capstone.capstone_url}}</p>
              <img v-bind:src="capstone.screenshot">
            </div>
        </div>
  <!-- END CAPSTONE INFO -->
    </div>
  </div>
</div>

<div class="container">
    <div class="sidebar">
    </div>
    <div class="content"> 
      <a class="twitter-timeline" href="https://twitter.com/josepoggioli?ref_src=twsrc%5Etfw">Tweets by josepoggioli</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>